# {{ ansible_managed }} 
[Unit]
Description=Homelab Gitea Instance
After=syslog.target
After=network.target

[Service]
RestartSec=60s
Type=simple
User=git
Group=git
WorkingDirectory={{ workdir }}
ExecStart={{ workdir }}/gitea web
Restart=always
Environment=USER=git 
HOME=/home/git

[Install]
WantedBy=multi-user.target
